* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  h1{
    font-size: 2rem;
    font-style: initial;
    text-align: center;
  }
.boxhr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
}
.boxln{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px;
  border: 2px solid black;
}
.btncont{
  display: flex;
  width: 150px;
  height: inherit;
  font-size: 1.2rem;
  color: #000000;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
a{
  color: #000000;
}
